<%- include("template/cabecera.ejs" , { tituloWeb: ' ~ ~ Index.ejs ~ ~'}) %>

<body class="container">
    <%- include("template/headers.ejs") %>
    
    <div class="col-xs-8 col-xs-offset-2">
        <h2 class="text-center">Write a New Entry</h2>
        <form method="post">
            <div class="form-group">
            <label for="title">Title</label>
            <input type="text"
            name="title" 
            id="title" 
            class="form-control" 
            placeholder="Ingrese titulo"
            required>
        </div>
        

        <div class="form-group">
            <label for="body">Entry Text</label>
            <textarea 
                class="form-control"
                id="body"
                name="body"
                rows="3" 
                placeholder="Ingrese texto"
                required></textarea>
        </div>
    
    <div class="form-group">
        <input type="submit" 
        value="Enviar Formulario"
        class="btn btn-primary">
    </div>
</form>
    
</div>




<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
            <th scope="col">Published</th>
        </tr>
    </thead>


    <tbody>
        <% entries.forEach(function(e){ %>
        <tr>
            <th scope="row"> <%= e.title %> </th>
            <td scope="row"> <%= e.body %> </td>
            <td scope="row"> <%= e.published %> </td>
        </tr>
        <% }) %>
    </tbody>
</table>


<%- include("template/footer.ejs") %>

</body>